.wall13 {
    -fx-border-width: 5;
    -fx-border-insets: -3;
    -fx-border-style: solid dotted solid solid;
}

.wall22 {
    -fx-border-insets: -3;
    -fx-border-width: 5;
    -fx-border-style: dotted dotted solid solid;
}

.wall31 {
    -fx-border-insets: -3;
    -fx-border-width: 5;
    -fx-border-style: dotted dotted solid dotted;
}

.wall34 {
    -fx-border-insets: -3;
    -fx-border-width: 5;
    -fx-border-style: solid dotted solid solid;
}

.wall43 {
    -fx-border-insets: -3;
    -fx-border-width: 5;
    -fx-border-style: dotted dotted solid solid;
}

.wall56 {
    -fx-border-insets: -3;
    -fx-border-width: 5;
    -fx-border-style: solid dotted dotted solid;
}

.wall60 {
    -fx-border-insets: -3;
    -fx-border-width: 5;
    -fx-border-style: dotted solid solid solid;
}

.wall63 {
    -fx-border-insets: -3;
    -fx-border-width: 5;
    -fx-border-style: solid dotted solid solid;
}

.square {
    -fx-background-color: grey;
}

.selected {
    -fx-background-color: silver;
}


.selectable {
    -fx-border-color: red;
}


